@model IEnumerable<CenterPainSupportiveCareModels.Prescription>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateFilled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider.ProviderName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateFilled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rx)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.ProviderName)
        </td>
        <td>
            if (User.IsInRole("Admin"))
            {
            @Html.ActionLink("Edit", "Edit", new { id=item.PrescriptionId }) |
            }
            @Html.ActionLink("Details", "Details", new { id=item.PrescriptionId }) |
            if (User.IsInRole("Admin"))
            {
            @Html.ActionLink("Delete", "Delete", new { id=item.PrescriptionId })
            }
        </td>
    </tr>
}

</table>
